.main-table {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-table .container-form {
    width: 100%;
    gap: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
}


thead {
    background-color: #007bff;
    color: #fff;
    text-align: center;
}

td,
th {
    border: 1px solid #000000;
    text-align: center;
    padding: 2px;
    word-break: break-word;
}

.main-table .container-form .acciones {
    gap: 1px;
    flex-wrap: wrap;
}

.main-table .container-form .accionesMovil {
    display: none;
}

.main-table .container-form .acciones>a {
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.main-table .container-form form {
    margin: 0px;
    padding: 0px;
}



.main-table .container-form .bi {
    font-size: 15px;
    color: #fff;
}


@media (max-width: 700px) {
    th,td {
        font-size: 0.70rem;
    }
    .main-table .container-form .acciones {
        display: none;
    }

    .option-movil {
        display: none;
    }

    .main-table .container-form .accionesMovil {
        display: table-cell;
        justify-content: center;
        align-items: center;
    }
}