/* app.css */
@import 'layouts/loader.css';
@import 'layouts/navbar.css';
@import 'layouts/icon.css';
@import 'layouts/footer.css';
/*Animations*/
@import 'animations/check.css';
/*Pages*/
@import 'pages/index.css';
@import 'pages/show.css';
/*Components*/
@import 'pages/components/feature.css';
@import 'pages/components/navbar.css';
@import 'pages/components/main.css';
@import 'pages/components/buttons.css';
@import 'pages/components/table.css';
@import 'pages/components/table-acciones-movile.css';
@import 'pages/components/formulario-multipaso-appointment.css';
@import 'pages/components/forms.css';
@import 'pages/components/form-settings.css';
/*pages*/
@import 'pages/dashboard/index.css';
@import 'pages/dashboard/navbar-movile.css';
@import 'pages/home/home.css';

@import 'pages/myAppointments/myAppointments.css';
@import 'pages/myAppointments/show.css';
/*@import 'pages/home/home.css';*/
@import 'pages/profiles/profile.css';

/*Appointments*/
@import 'pages/appointments/calendar.css';
@import 'pages/appointments/times.css';

@import 'pages/reservations/date-filter.css';
@import 'pages/reservations/search.css';
@import 'pages/reservations/create.css';
@import 'pages/reservations/actualizacion-de-status-btn.css';
@import 'pages/reservations/reservation-filter.css';
@import 'pages/settings/settings.css';
@import 'pages/specialties/form-specialty.css';

@tailwind base;
@tailwind components;
@tailwind utilities;