/*Estilos específicos de index*/
.main {
    flex-direction: column;
    width: 100%;
    margin-top: 15px;

    .container-form {
        position: relative;
        width: 600px;
        flex-direction: column;
        box-shadow: 0px 0px 10px 5px rgba(143, 143, 143, 0.393);
        border-radius: 25px;
        padding: 20px 10px;
        background-color: var(--light_application_background);

        .item {
            margin-top: 10px;
        }
    }
}

.main-table {
    width: 100%;

    .container-form {
        width: 100%;
        gap: 10px;
        display: flex;
        flex-direction: column;

        form {
            margin: 0px;
            padding: 0px;
        }

        .bi {
            font-size: 15px;
        }

        .accionesMovil {
            display: none;
        }
    }
}

.acciones {
    gap: 3px;
    flex-wrap: wrap;

    form {
        gap: 1px;
        flex-wrap: wrap;
        width: 45px;
    }

    a {
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .main {
        .container-form {
            width: 90%;
        }
    }

    .main-table {
        .container-form {
            padding: 5px !important;
        }
    }
}