/*estilos específicos de show*/
.scrollable-div {
    max-height: 200px;
    width: 380px;
    overflow-y: auto;
}

.content-wrapper {
    margin-top: 10px;
    width: 100%;

    .status-box {
        position: absolute;
        z-index: 1 !important;
        text-align: right;
        font-weight: bold;
        width: 120px;
        top: 120px;
        left: 0px;
        border-radius: 0px 40px 5px 0px;
        padding: 5px 10px;
        border: 1px solid;
    }

    .width-profile-doctor {
        width: 380px;
    }

    .content-date-profile {
        height: auto;
        margin: 0px;

        .profile-img {
            border-radius: 25%;
            border: none;
        }

        img {
            width: 70px;
            height: 70px;
        }
    }

    .section-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: start;
        border-radius: 10px;
        padding: 15px;
        gap: 5px;

        .card {
            position: relative;
            display: flex;
            width: 380px;
            border: 1px solid rgba(194, 194, 194, 0.361);
            box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.5);
            padding: 20px;
            border-radius: 25px;
            background-color: transparent;
            color: var(--light_text_color);

            h1 {
                text-align: center;
                text-decoration: underline;
                text-underline-offset: 5px;
                text-decoration-thickness: 2px;
                margin-bottom: 10px;
            }

            .history-paragraph {
                display: flex;
                align-items: center;
            }

            .status {
                border-radius: 20px;
                height: 40px;
            }
        }
    }
}





@media (max-width: 670px) {
    .content-wrapper {
        padding: 10px;

        .section-container {
            .content-date-profile {
                width: 100%;
            }
        }
    }
}