/*Boton de status para reservations, cambio de null a true-false*/

.ios-dropdown {
    position: relative;
    display: inline-block;
}

.ios-dropdown:hover .ios-dropdown-menu {
    display: block;
}

.ios-dropdown-menu {
    background-color: var(--background_navbar_light);
    display: none;
    position: absolute;
    z-index: 1000;
    min-width: 180px;
    border-radius: 12px;
    box-shadow: 0 5px 5px var(--general_design_color);
    overflow: hidden;
}

.ios-dropdown-item {
    display: block;
    width: 100%;
    padding: 10px 15px;
    text-align: left;
    background: none;
    border: none;
    color: #333;
    font-size: 14px;
    transition: background-color 0.2s;
}

.ios-dropdown-item:hover {
    background-color: #c4c4c4;
}

.ios-dropdown-item.success {
    color: #28a745;
}

.ios-dropdown-item.success:hover {
    color: #fff;
    background-color: #28a745;
}

.ios-dropdown-item.danger {
    color: #dc3545;
}

.ios-dropdown-item.danger:hover {
    color: #fff;
    background-color: #dc3545;
}

.ios-dropdown-item i {
    margin-right: 8px;
}

.dropdown-toggle-btn::after {
    display: none;
}

/* Modo oscuro */

@media (prefers-color-scheme: dark) {
    .ios-dropdown-menu {
        background-color: var(--background_navbar_dark);
    }
}

@media (max-width: 768px) {
    .ios-dropdown-menu {
        min-width: 130px;
    }

    .ios-dropdown-item {
        font-size: 12px;
        padding: 8px 12px;
    }
}