/*Btn crear specialty desde new doctor*/
.new-specialty-box #specialty-btn {
    width: 100%;
    height: 100%;
    border-radius: 0px 0px 100px 100px;
    background-color: var(--secondary_color_btn);
    color: var(--btn_text_color);
}

.new-specialty-box #specialty-btn:hover {
    opacity: 0.8;
    text-decoration: none;
}

#close-btn {
    width: 100%;
    padding: 16px 20px;
}

#close-btn:hover {
    opacity: 0.8;
}

/*botones submit*/

.primary-btn {
    background-color: var(--primary_color_btn);
    color: var(--btn_text_color);
    border: none;
    cursor: pointer;
    width: 100%;
}

.primary-btn {
    padding: 12px;
    border-radius: 8px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.primary-btn:hover,
.secondary-btn:hover {
    opacity: 0.8;
}

.primary-btn:active {
    background-color: var(--primary_color_btn);
    color: var(--btn_text_color);
}

/*Vista register*/
.secondary-btn {
    background-color: var(--secondary_color_btn);
    color: var(--btn_text_color);
    height: 40px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
}

/*Botones de acciones de las tablas*/
/*heder*/
.options {
    width: 100%;
    padding: 0px 10px;
    margin-top: 15px;
    gap: 10px;
}

.options>*,
.options .delete-btn {
    width: 85px;
    height: 50px;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.main-table .container-form .options .btn-add {
    background-color: var(--secondary_color_btn);
    color: var(--btn_text_color);
    width: 150px;
}

.main-table .container-form .options .btn-add:hover {
    opacity: 0.8;
}



/*body*/

.btn-view {
    background-color: #007bff;
}

.btn-view:hover {
    background-color: #0056b3;
    /* Azul más oscuro */
}

.btn-edit {
    background-color: #ffc107;
}

.btn-edit:hover {
    background-color: #e0a800;
    /* Amarillo más intenso */
}

/*
.btn-view .bi,.btn-edit .bi {
    color: #fff;
}*/

.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
}


/*Tabla seccion acciones reservations*/
.btn-status {
    padding: 5px 10px;
    border: 1px solid #fff;
}

.btn-status:hover {
    transform: scale(1.1);
}

.btn-status>.bi {
    font-size: 15px !important;
}

.btn-success {
    background-color: #28a746;
    color: white;
}

.btn-default {
    background-color: #6c757d;
    color: white;
}

.btn-success:hover {
    background-color: #218838;
}

.btn-default:hover {
    background-color: #5a6268;
}

.btn-danger,
.btn-salir {
    background-color: #dc3546 !important;
    color: white;
}

.btn-danger:hover {
    background-color: #c82333;
}

.menu-btn,
.dropdown-btn {
    background-color: var(--secondary_color_btn);
    padding: 10px 5px;
    i {
        color: var(--btn_text_color) !important;
    }
}

button {
    color: var(--btn_text_color) !important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;

    .bi {
        color: var(--btn_text_color);
    }
}

button:disabled {
    cursor: not-allowed;
}