:root {
    /* Colores inspirados en iOS para un look moderno */
    --ios-green: #181818;
    --ios-teal: #2c2c2c;
    --ios-accent: #000000;
}

.parent-container {
    position: relative;
    /* Necesario para posicionar el pseudo-elemento */
}

.feature {
    position: absolute;
    right: 10px;
    top: -8px;
    font-weight: 600;
    /* Bolder puede ser demasiado para iOS */
    padding: 3px 6px;
    border-radius: 5px;
    /* Bordes más redondeados tipo iOS */
    overflow: hidden;
    /* Oculta el desbordamiento del borde animado */
    z-index: 1;
    /* Asegura que el contenido esté encima del borde */
    text-transform: uppercase;
    font-size: 0.75rem;
    color: #fff;
    /* Texto blanco para mayor contraste */
    background-color: var(--ios-green);
    /* Color de fondo plano para el botón */
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.24);
    /* Sombra sutil */
}

.feature::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    right: -10px;
    bottom: -10px;
    background: conic-gradient(transparent,
            var(--ios-teal),
            transparent,
            transparent,
            var(--ios-accent),
            transparent,
            transparent);
    z-index: -1;
    animation: rotate 4s linear infinite;
    /* La animación se repite indefinidamente */
}

/* Define la animación para el gradiente */
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.feature-style {
    border: 1px solid rgb(0, 0, 0);
    background: linear-gradient(10deg, var(--ios-green),var(--ios-teal)) !important;
}