/* Estilos para el formulario multipaso */
.step-indicator {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.step {
    text-align: center;
    padding: 10px 20px;
    margin: 0 5px;
    background: #e0e0e0ad;
    border-radius: 5px;
    cursor: default;
}

.step.active {
    background: #4CAF50;
    color: white;
}

.form-step {
    display: none;
}

.form-step.active {
    display: block;
}

.form-navigation {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.form-navigation .primary-btn {
    width: 50%;
}

.next-btn {
    background-color: var(--secondary_color_btn);
}

.prev-btn {
    background: #f44336;
}

.prev-btn,
.next-btn {
    color: var(--btn_text_color);
    border: 1px solid #fff;
    border-radius: 5px;
    height: 50px;
    padding: 15px;
    display: flex !important;
}

.prev-btn:hover,
.next-btn:hover {
    opacity: 0.8;
}