.main .container-form .item-colores .card {
    width: 100%;
    box-shadow: 0px 0px 10px 5px rgba(143, 143, 143, 0.393);
    border-radius: 5px;
    margin: 10px 0px;
}

.main .container-form .item-colores .card .item {
    width: 100%;
    margin: 5px 0px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.main .container-form .item-colores .card .item label {
    width: 70%;
}

.light-card {
    background-color: var(--light_application_background);
    color: var(--light_text_color)!important;
}

.light-card small {
    color: var(--text_color_small_light);
}

.dark-card {
    background-color: var(--dark_application_background);
    color: var(--dark_text_color)!important;
}


/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    .card {
        color: var(--dark_text_color);
    }
}

/* Modo claro */
@media (prefers-color-scheme: light) {

    .card {
        color: var(--light_text_color);
    }

}