.main {
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
}

.container-form {
    position: relative;
    flex-direction: column;
    width: 600px;
    box-shadow: 0px 0px 10px 5px rgba(143, 143, 143, 0.393);
    border-radius: 5px;
}

.container-form-register {
    position: relative;
    flex-direction: column;
    width: 500px;
    box-shadow: 0px 0px 10px 5px rgba(143, 143, 143, 0.393);
    border-radius: 25px;
}

.container-form-register {
    border-radius: 15px;
    padding: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}


/*Btn agregar specialties*/
.new-specialty-box {
    margin: 0px 10%;
    width: 80%;
    height: 50px;
    color: var(--light_text_color);
}

form {
    width: 100%;
    padding: 10px;
}


input,
textarea {
    border-radius: 10px !important;
    border: 1px solid grey !important;
    backdrop-filter: blur(8px);
    transition: 0.3s ease;
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
}


input[type="time"],
input[type="date"] {
    display: flex;
    justify-content: center;
}

input[type="radio"]:checked {
    margin-right: 10px;
    background-color: var(--general_design_color) !important;
}

/*checkbox para Formulario login register*/
input[type="checkbox"]:checked {
    margin-right: 10px;
    background-color: var(--general_design_color) !important;
}

input[type="color"] {
    width: 45px;
    height: 45px;
    box-shadow: 0px 0px 5px 1px var(--general_design_color);
    border: 2px solid var(--general_design_color);
}

select {
    width: 100%;
    padding: 10px;
    text-align: center;
}

option {
    text-align: center;
}

/*opciones tipos de appointments mañana-tardenoche*/
.box-style {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.box-style .item-style {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.201);
}

.box-style .item-style .item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: 2px 3px;
    border: 1px solid var(--general_design_colorolor);
    border-radius: 5px;
    padding: 5px;
}

.box-style .item-style .item label {
    width: 90%;
}

#horario-box {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#horario-box #horarios-item {
    flex-wrap: wrap;
}

#horario-box #horarios-item p {
    border: 1px solid #3b82f6;
    color: #3b82f6;
    margin: 2px 3px;
    border-radius: 5px;
    padding: 3px;
}

.box-style .item-style .item:hover {
    cursor: pointer;
    background-color: var(--general_design_color);
    opacity: 0.8;
}




/* Modo oscuro */
@media (prefers-color-scheme: dark) {

    .container-form-register,
    .container-form-register select {
        background-color: var(--background_login_and_register_dark);
    }

    .main .container-form,
    .item select {
        background-color: var(--dark_application_background);
    }

    option,
    input,
    textarea {
        background: transparent !important;
        color: var(--text_color_form_elements_dark) !important;
    }

    input:focus,
    textarea:focus {
        border-color: var(--text_color_form_elements_dark) !important;
    }
}

/* Modo claro */
@media (prefers-color-scheme: light) {

    .container-form-register,
    .container-form-register select {
        background-color: var(--background_login_and_register_light);
    }

    .main .container-form,
    .main .container-form select {
        background-color: var(--light_application_background);
    }

    option,
    input,
    textarea {
        background: transparent !important;
        color: var(--text_color_form_elements_light) !important;
    }

    input:focus,
    textarea:focus {
        border-color: var(--text_color_form_elements_light) !important;
    }

}


@media (max-width: 600px) {

    .container-form,
    .container-form-register {
        width: 90%;
        padding: 10px;
    }

    input,
    select,
    button[type="submit"] {
        width: 100%;
        padding: 10px;
    }

    .box-style .item-style {
        flex-direction: column;
        width: 100%;
    }

    #horario-box #horarios-item {
        flex-direction: row;
    }
}