/* En tu CSS principal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body,
html {
    min-height: 100vh;
}

a {
    display: inline-block;
}

.main-content {
    flex: 1;
}

.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item {
    margin-top: 10px;
}

.form-grid H3,
.calendario-box H3 {
    margin-top: 0px;
    font-weight: bold;
}

.content-wrapper {
    margin-top: 10px;
    width: 100%;
}

.section-container {
    align-items: start;
    /*box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.5);*/
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 15px;

}

.section-title {
    text-align: center;
    margin: 10px 0;
}

.card {
    position: relative;
    border: 1px solid rgba(194, 194, 194, 0.361);
    box-shadow: 0px 0px 10px rgba(150, 150, 150, 0.5);
    background-color: transparent;
    width: 30%;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

.card H1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 2px;
    margin-bottom: 10px;
}

.status-box {
    position: absolute;
    z-index: 1 !important;
    text-align: right;
    font-weight: bold;
    width: 120px;
    top: 120px;
    left: 0px;
    border-radius: 0px 40px 5px 0px;
    padding: 5px 10px;
    border: 1px solid;
}

.inactive,
.no_data {
    font-weight: bold;
    padding: 1px 2px;
}

.datetime {
    font-weight: bolder;
    margin: 1px;
    border-radius: 5px;
    padding: 2px;
    display: inline-block;
}



/*adaptar el tamaño de la pantalla*/
@media (max-width: 670px) {
    .section-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        margin: 5px 0;
    }
}