/* En tu CSS principal */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--light_application_background);
    color: var(--light_text_color);
}

a {
    display: inline-block;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem !important;
    margin: 15px 0px !important;
    color: var(--title_text_color);
}

h2,
h3,
h4,
h5 {
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem !important;
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: var(--subtitle_text_color);
}

small {
    color: var(--text_color_small_light);
}

p {
    color: var(--light_text_color);
}

b,
a {
    color: var(--general_design_color);
}



.card {
    color: var(--light_text_color);
    background-color: transparent;
}

.no_data,
.status-inactive {
    color: rgb(255, 0, 0);
    background-color: rgb(255, 166, 166);
}

.existing,
.status-active {
    color: rgb(0, 128, 0);
    background-color: rgb(166, 255, 166);
}

.error {
    color: red;
}

.main-content {
    flex: 1;
}

.full-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-grid H3,
.calendario-box H3 {
    margin-top: 0px;
    font-weight: bold;
}

.inactive,
.no_data {
    font-weight: bold;
    padding: 1px 2px;
}

.datetime {
    font-weight: bolder;
    margin: 1px;
    border-radius: 5px;
    padding: 2px;
    display: inline-block;
}


/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark_application_background);
        color: var(--dark_text_color);
    }

    small {
        color: var(--text_color_small_dark);
    }

    p {
        color: var(--dark_text_color);
    }

    .card {
        color: var(--dark_text_color);
    }
}

/*adaptar el tamaño de la pantalla*/
@media (max-width: 670px) {
    .section-container {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100% !important;
        margin: 5px 0;
    }
}