table {
    border-collapse: collapse;
    width: 100%;

    td,
    th {
        border: 1px solid #0000004d;
        text-align: center;
        padding: 2px;
        word-break: break-word;
    }

    thead {
        background-color: var(--general_design_color);
        text-align: center;
    }
}