h1 {
    color: var(--title_text_color);
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem !important;
    margin: 15px 0px !important;
}

h2,
h3,
h4,
h5 {
    color: var(--subtitle_text_color);
    text-align: center;
    font-weight: bold;
    font-size: 1.1rem !important;
}

b {
    color: var(--general_design_color);
}


/* Modo oscuro */
@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--dark_application_background) !important;
        color: var(--dark_text_color);
    }

    .bi {
        color: var(--dark_text_color);
    }

    small {
        color: var(--text_color_small_dark) !important;
    }

    p {
        color: var(--dark_text_color);
    }
}

/* Modo claro */
@media (prefers-color-scheme: light) {
    body {
        background-color: var(--light_application_background);
        color: var(--light_text_color);
    }

    small {
        color: var(--text_color_small_light) !important;

    }

    p {
        color: var(--light_text_color);
    }
}