.main-nav {
    box-shadow: 0 2px 4px rgba(2, 200, 255, 0.1);
    color: var(--light_text_color);
    background-color: var(--background_navbar_light);
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar-items {
    gap: 20px;
}

/*Enlaces de nav activos-inactivos*/
.items-nav-inactive {
    position: relative;
    padding-bottom: 4px;
    text-decoration: none;
}

.items-nav-inactive::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--general_design_color);
    transition: width 0.3s ease;
}

.items-nav-inactive:hover::after,
.items-nav-inactive:focus::after {
    width: 100%;
}

/*Enlace activo*/
.items-nav-active {
    font-weight: 600;
    border-color: var(--general_design_color);
}

.items-nav:hover {
    border-color: var(--general_design_color);
}

/*Dropdown botton*/
.menu-btn:hover {
    opacity: 0.8;
}

/*Dropdown*/
.menu {
    width: 220px;
    border-radius: 10px;
    padding: 2px;
    border: 1px solid var(--general_design_color);
    color: var(--light_text_color);
    background-color: var(--background_navbar_light);
}

.dropdown-item {
    padding: 0.5rem 0.2rem;
    transition: background-color 0.3s;
    border-radius: 5px;
    color: var(--light_text_color);
}

.dropdown-item:hover {
    font-weight: bolder;
    color: var(--dark_text_color);
    background-color: var(--light_text_color);
}


.main-nav .bi {
    color: var(--general_design_color);
    margin-right: 5px;
}

/*****/


.dropdown-section {
    padding: 0.5rem 1rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    z-index:999999999 !important;
}



.dropdown-section span,
.dropdown-item span {
    white-space: normal;
    word-break: break-word;
}

.subtitulo {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: var(--subtitle_text_color);
}

.hamburger {
    border: 1px solid var(--light_text_color);
}

/*Btn cerrar sesion*/
.btn-salir {
    color: white !important;
    background: rgb(209, 1, 1);
}

.btn-salir .bi {
    color: white;
}

.btn-salir:hover {
    background: rgb(153, 1, 1) !important;
}


/* Modo oscuro */

@media (prefers-color-scheme: dark) {
    .main-nav {
        background-color: var(--background_navbar_dark);
        color: var(--dark_text_color);

        .menu {
            color: var(--dark_text_color);
            background-color: var(--background_navbar_dark);
        }
/*
        .dropdown-item {
            color: var(--dark_text_color);

        }

        .dropdown-item:hover {
            color: var(--background_navbar_dark);
            background-color: var(--dark_text_color);
        }*/

        .hamburger {
            border: 1px solid var(--dark_text_color) !important;
        }
    }
}

@media screen and (max-width: 702px) {
    .main-nav {
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 639px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-nav {
        padding-bottom: 0rem;
    }

    .menu {
        width: 100%;
        padding: 10px;
    }
}