.main-nav {
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(2, 200, 255, 0.1);

}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar-items {
    gap: 15px;
}

.link-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-nav:hover {
    opacity: 0.8;
}

/*Dropdown botton*/
.menu-btn:hover {
    opacity: 0.8;
}

/*Dropdown*/
.menu {
    border-radius: 10px;
    padding: 2px;
    border: 1px solid var(--color_texto_titulo);
}

.dropdown-item {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.dropdown-item:hover {
    font-weight: bolder;
}

.main-nav .dropdown-item .bi {
    color: var(--color_texto_titulo);
}



/*****/
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    list-style: none;
    padding: 0.5rem 0;
    min-width: 200px;
    z-index: 1000;
    display: none;
}

.dropdown-section {
    padding: 0.5rem 1rem;
}

.subtitulo {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: var(--color_texto_titulo)
}

.hamburger {
    border: 1px solid aliceblue !important;
}

/*Btn cerrar sesion*/
.btn-salir {
    color: white !important;
    background: rgb(209, 1, 1);
}

.btn-salir:hover {
    background: rgb(153, 1, 1) !important;
}

/* Modo oscuro */

@media (prefers-color-scheme: dark) {
    .main-nav {
        background-color: var(--fondo_navbar_dark);
        color: var(--color_texto_dark);

        .menu {
            color: var(--color_texto_dark);
            background-color: var(--fondo_navbar_dark);
        }

        .dropdown-item {
            color: var(--color_texto_dark);

        }

        .hamburger {
            border: 1px solid var(--color_texto_dark) !important;
        }

        .dropdown-item:hover {
            color: var(--fondo_navbar_dark);
            background-color: var(--color_texto_dark);
        }
    }
}

/* Modo claro */

@media (prefers-color-scheme: light) {
    .main-nav {
        color: var(--color_texto_light);
        background-color: var(--fondo_navbar_light);

        .menu {
            color: var(--color_texto_light);
            background-color: var(--fondo_navbar_light);
        }

        .dropdown-item {
            color: var(--color_texto_light);
        }

        .hamburger {
            border: 1px solid var(--color_texto_light) !important;
        }

        .dropdown-item:hover {
            color: var(--fondo_navbar_light);
            background-color: var(--color_texto_light);
        }

    }
}

@media screen and (max-width: 700px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .menu {
        padding: 10px;
    }
}