.main-nav {
    box-shadow: 0 2px 4px rgba(2, 200, 255, 0.1);
}

.navbar {
    display: flex;
    justify-content: space-around;
}

.navbar-items {
    gap: 20px;
}

/*Enlaces a*/
.link-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.link-nav:hover {
    opacity: 0.8;
}

/*Enlaces de nav activos-inactivos*/
.items-nav-inactive {
    position: relative;
    padding-bottom: 4px;
    text-decoration: none;
}

.items-nav-inactive::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0%;
    height: 2px;
    background-color: var(--color_texto_titulo);
    transition: width 0.3s ease;
}

.items-nav-inactive:hover::after,
.items-nav-inactive:focus::after {
    width: 100%;
}

/*Enlace activo*/
.items-nav-active {
    font-weight: 600;
    border-color: var(--color_texto_titulo);
}

.items-nav:hover {
    border-color: var(--color_texto_titulo);
}

/*Dropdown botton*/
.menu-btn:hover {
    opacity: 0.8;
}

/*Dropdown*/
.menu {
    width: 220px;
    border-radius: 10px;
    padding: 2px;
    border: 1px solid var(--color_texto_titulo);
}

.dropdown-item {
    padding: 0.5rem 0.2rem;
    transition: background-color 0.3s;
    border-radius: 5px;
}

.dropdown-item:hover {
    font-weight: bolder;
}


.main-nav .bi {
    color: var(--color_texto_titulo);
    margin-right: 5px;
}

/*****/


.dropdown-section {
    padding: 0.5rem 1rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}



.dropdown-section span,.dropdown-item span {
    white-space: normal;
    word-break: break-word;
}

.subtitulo {
    display: block;
    font-weight: bold;
    margin-bottom: 0.25rem;
    color: var(--color_texto_titulo)
}

.hamburger {
    border: 1px solid aliceblue !important;
}

/*Btn cerrar sesion*/
.btn-salir {
    color: white !important;
    background: rgb(209, 1, 1);
}

.btn-salir .bi {
    color: white;
}

.btn-salir:hover {
    background: rgb(153, 1, 1) !important;
}


/* Modo oscuro */

@media (prefers-color-scheme: dark) {
    .main-nav {
        background-color: var(--fondo_navbar_dark);
        color: var(--color_texto_dark);

        .menu {
            color: var(--color_texto_dark);
            background-color: var(--fondo_navbar_dark);
        }

        .dropdown-item {
            color: var(--color_texto_dark);

        }

        .dropdown-item:hover {
            color: var(--fondo_navbar_dark);
            background-color: var(--color_texto_dark);
        }

        .hamburger {
            border: 1px solid var(--color_texto_dark) !important;
        }
    }
}

/* Modo claro */

@media (prefers-color-scheme: light) {
    .main-nav {
        color: var(--color_texto_light);
        background-color: var(--fondo_navbar_light);

        .menu {
            color: var(--color_texto_light);
            background-color: var(--fondo_navbar_light);
        }

        .dropdown-item {
            color: var(--color_texto_light);
        }

        .dropdown-item:hover {
            color: var(--fondo_navbar_light);
            background-color: var(--color_texto_light);
        }

        .hamburger {
            border: 1px solid var(--color_texto_light) !important;
        }


    }
}


@media screen and (max-width: 690px) {
    .main-nav {
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 639px) {
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .main-nav {
        padding-bottom: 0rem;
    }

    .menu {
        width: 100%;
        padding: 10px;
    }
}